<mat-card class="mat-elevation-z10">
    <h3 >LogIn Here</h3>
    <!-- {{ this.invoiceForm.value | json}} -->
    <form class="form-container" [formGroup]="loginForm" novalidate (ngSubmit)="onLoginSubmit()">

       
        
        <mat-form-field color="accent">
            <input matInput placeholder="email" formControlName="email" type="text"> 
            <mat-error *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched">Email is required</mat-error>   
        </mat-form-field>

        <mat-form-field color="accent">
            <input matInput placeholder="password" type="password" formControlName="password"> 
            <mat-error *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">Kindly enter valid Password</mat-error>   
        </mat-form-field>


        <div>
            <button mat-raised-button  type="submit" color="accent">Login</button>
            <button mat-raised-button type="reset" (click)="onReset()">reset</button>

        </div>

    </form>
      
</mat-card>