<router-outlet></router-outlet>
<!-- <form class="overlay" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="40px">
<mat-card fxLayout="column">
    <h2>Login</h2>
    <mat-form-field>
        <input formControlName="email" type="email" matInput placeholder="Email" />
        <mat-error>Valid Email is Required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input formControlName="password" type="password" matInput placeholder="Password" />
        <mat-error> (8-12 Digit) Password is Required</mat-error>
    </mat-form-field>
    <a style="margin-top: 2rem;" href="#">Forgot Password?</a>
    <div style="margin-top: 2rem" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end">
        <button type="submit"  color="primary" mat-raised-button>Login</button>
        <button type="button" color="accent" mat-raised-button>Signup</button>
    </div>
</mat-card>
</form> -->